/* Cuerpo */
body {
    margin: 0;
    padding: 0;
    font-family: 'Classyvogueregular';
    height: 100vh;
    overflow: hidden;
}

/* NAVBAR */
#Contenedor {
    background-color: #101010;
    padding: 10px;
}

#Encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#btnInicio {
    background: none;
    border: none;
    cursor: pointer;
}

#logo {
    width: 50px; /* Ajusta el tamaño según tus necesidades */
}

#opcMenu {
    display: flex;
    align-items: center;
    float: left;
    width: 100%;
    margin-left: 30px;
    padding: 5px;
    
}

.opcion {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 20px; /* Ajusta el margen según tus necesidades */
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: medium;

}

.opcion:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px; /* Ajusta el grosor de la línea debajo de las opciones */
    background-color: white;
    position: absolute;
    bottom: -5px;
}

#busquedad {
    display: flex;
    align-items: center;
}

#buscador {
    padding: 8px;
    border: none;
    border-radius: 5px;
}

#lupa {
    width: 20px; /* Ajusta el tamaño según tus necesidades */
    margin-left: 10px; /* Ajusta el margen según tus necesidades */
}




#divMenuInicial {
    position: absolute  ;
    background-image: url(../imagenes/index_out.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;

}


.body-autores,
.body-libros{
    background: url(../imagenes/listas.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


.body-form-libros,
.body-form-autores {
    background: url(../imagenes/formularios.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

@font-face {
    font-family: 'Browood-Regular';
    src: url('Classyvogueregular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}



/* Index */
#gif {
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    margin-top: 50vh;
    cursor: pointer;
}

#gif img{
    width: 2.5em;
    height: 2.5em;
}

#gif img:hover {
    transform: scale(2.4);
}

#gif img {
    transform: scale(1.9);
    transition: transform 0.3s ease-in-out;
}

/* Tarjetas de libros */
#cuerpo {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.titulo h1 {
    color: white;
    margin-top: -7em;
    margin-left: 1.5em;
    position: absolute;
}

#scroll-lateral {
    display: flex;
    width: 70%;
    height: 27em;
    overflow-x: auto;
    padding: 1.5em;
    margin-top: 10em;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), #000 15px, #000 calc(100% - 15px), rgba(0, 0, 0, 0));
}


.card {
    width: 15em;
    height: fit-content;
    background: rgba(129, 129, 129, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
    border: 1.5px solid #efb810;
    margin: 20px;
    border-radius: 20px;
    flex-direction: rows;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 15em;
    border-bottom: 1px solid rgba(209, 213, 219, 0.3);
    ;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    cursor: pointer;
}

.card-content {
    padding: 20px;
    width: 10em;
}

.card-content h3 {
    margin-top: 0;
    text-decoration: none;
    cursor: pointer;
    color: white;
}

/* .card-content h3:link,
.card-content h3:visited {
    color: white; */
.divAutores{
    display: flex;
    align-items: center;
    width: 100%;
}
.card:hover {
    transform: scale(1.05);
    transition-duration: 0.8s;
    background-color: #efb7103c;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}
.editores{
    float: right;
    width: 25%;
}
.editores .editor{
    width: 30px;
    height: auto;
    padding: 0px;
    margin-left: 10px;
}

.card:not(:hover) {
    transform-origin: 0;
    transition: 0.8s;
}

#papelera {
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}

#lapiz {
    width: 1.5em;
    height: 1.5em;
    margin-left: 1em;
    cursor: pointer;
}

#crearLibro {
    position: absolute;
    top: 0;
    margin-top: 60vh;
    margin-right: 25vh;
    right: 0;
    width: 7vh;
    height: 7vh;
    border-radius: 50px;
    background-image: url(../imagenes/añadir.png);
    background-size: cover;
    cursor: pointer;
    color: transparent;
}

#crearLibro:hover {
    transform: scale(1.2);
    transition-duration: 1.2s;
}

#crearLibro:not(:hover) {
    transform-origin: 0;
    transition: 1s;
}

/* Tabla de autores */
h1 {
    color: white;
    margin-top: 1.5em;
    margin-left: 1.5em;
}

#scroll {
    width: 96.8%;
    height: 50vh;
    margin-left: 1.5em;
    max-height: 29em;
    overflow-y: auto;
    border-radius: 20px;
    border: 1.5px solid #efb810;
}

.tabla {
    width: 100%;
    background: rgba(129, 129, 129, 0.3);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

.imagen-columna {
    border: 1.5px solid rgba(209, 213, 219, 0.3);
    border-color: transparent;
    border-radius: 20px;
    padding: 7px;
    text-align: left;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.imagen-columna img {
    border-radius: 50%;
    width: 5.5em;
    height: 5.5em;
    margin-right: 1.5em;
    cursor: pointer;
}

#horaCookie {
    text-align: center;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    font-weight: bold;
}
.imagen-columna:hover {
    transition-duration: 0.8s;
    background-color: #efb71050;
    border-radius: 20px;
}

.imagen-columna:not(:hover) {
    transform-origin: 0;
    transition: 1s;
}

.nombre-autor {
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

.editor-columna {
    border: 1.5px solid rgba(209, 213, 219, 0.3);
    border-color: transparent;
    border-radius: 20px;
    text-align: right;
    padding: 1.5em;
}

.editor {
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
    padding: 10px;
}

#añadir-autor {
    width: 4em;
    height: 4em;
    border-radius: 50px;
    margin-top: 3.8%;
    margin-left: 45%;
    background-image: url(../imagenes/añadir.png);
    background-size: cover;
    cursor: pointer;
    color: transparent;
}

#añadir-autor:hover {
    transition: 2s;
    transform: scale(1.2);
}

#añadir-autor:not(:hover) {
    transform-origin: 0;
    transition: 1s;
}

/* Formulario libros */
.titulo-form h1 {
    color: white;
    font-size: 2em;
    margin-top: 1.5em;
    margin-left: 1.5em;
}

#Cuerpo {
    background: rgba(129, 129, 129, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
    border: 1.5px solid #efb810;
    width: 96.8%;
    max-height: 39em;
    margin-top: 1vh;
    margin-left: 1.5em;
    border-radius: 20px;
}

#formulario {
    display: flex;
    margin-top: -2em;
    width: 100%;
    height: fit-content;
}

.espacio-libros {
    margin: 1em;
    margin-left: 2em;
    font-size: 1.3em;
    line-height: 3.5em;
    color: white;
}

#descripcion {
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 3.3em;
}

#texto_desc {
    margin-left: 2em;
}

.borde {
    margin-left: 2em;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(5px);
    border: 1.5px solid #efb810;
    border-style: outset;
    color: rgb(0, 0, 0);
}

#submit {
    position: absolute;
    bottom: 0;
    margin-left: 90vh;
    margin-bottom: 1vh;
    width: 4em;
    height: 4em;
    border-radius: 50px;
    background-image: url(../imagenes/guardar.png);
    background-size: cover;
    cursor: pointer;
    color: transparent;
}

#boton:hover {
    transition: 2s;
    transform: scale(1.2);
}

#boton:not(:hover) {
    transform-origin: 0;
    transition: 1s;
}

/* Formulario autores */
.marco-autores,
.marco {
    border-radius: 20px;
    width: 89em;
    height: 3.5em;
}

.marco-autores:hover,
.marco:hover{
    transition-duration: 0.8s;
    background-color: #efb810;
}

.marco-autores:not(:hover),
.marco:not(:hover) {
    transform-origin: 0;
    transition: 1s;
}

.espacio {
    margin: 1em;
    margin-left: 2em;
    font-size: 1.3em;
    line-height: 2.8em;
    color: white;
}

#biografia {
    display: flex;
    flex-direction: row;
    width: 30%;
    height: fit-content;
}




/* Info */
.text-autores {
    position: absolute;
    width: 25em;
    height: fit-content;
    margin-top: -1.2em;
    margin-left: 15vh;
    font-size: 0.7em;
}

.text-libros {
    width: 25em;
    height: fit-content;
    margin-top: 12em;
    margin-left: 110vh;  
    font-size: 0.7em;
}
#divInformacion{
    width: 100%;
    height: 100vh;
    background-image: url(../imagenes/info.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Browood-Regular';
    font-size: 2em;
}

#flecha {
    margin-top: -1em;
    margin-left: 4em;
    width: 2em;
    height: 2em;
    transform: rotate(225deg);
    transition: transform 2s;
}

#flecha:hover {
    width: 3em;
    height: 3em;
}


/* Detalle libro */

#divLibro{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: url(../imagenes/detalles.png) center;
    background-size: cover;
    overflow: hidden;
}
#izquierda-libro {
    width: 32%;
    height: auto;
    background: rgba(129, 129, 129, 0.3);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    /* display: flex; */
    margin-top: 2em;
    margin-left: 2em;
    position: absolute;
    flex-direction: column;
}

#imagen-libro img {
    width: 32%;
    height: auto;
    border-radius: 50px;
    /* display: flex; */
    padding: 2em;
}

#datos-libro {
    color: white;
    font-size: 1.2em;
    padding: 1em;
    margin-top: -3em;
}

#derecha-libro {
    width: 58em;
    height: 26em;
    display: flex;
    margin-top: 2em;
    position: absolute;
    margin-left: 32em;
}

#sinopsis {
    display: flex;
    width: 58em;
    height: 10em;
    position: absolute;
    overflow-y: auto;
    background: rgba(129, 129, 129, 0.3);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

#sinopsis h3 {
    position: absolute;
    font-size: large;
    color: white;
    margin-top: 1em;
    margin-left: 2em;
}

#sinopsis p {
    text-align: justify;
    font-size: large;
    font-style: italic;
    color: white;
    margin-top: 3em;
    margin-bottom: 15.5em;
    margin-left: 2em;
    margin-right: 2em;
}

#scroll-lateral-detalles-libro {
    display: flex;
    width: 52em;
    height: 23em;
    position: absolute;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 10.5em;
    border-radius: 20px;
    mask-image: linear-gradient(to right, #000 calc(100% - 2em), rgba(0, 0, 0, 0));
}

.card-detalles-libro {
    width: 10.5em;
    height: fit-content;
    background: rgba(129, 129, 129, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
    border: 1.5px solid #efb810;
    border-radius: 20px;
    margin-left: 0;
    margin-right: 10px;
    flex-direction: rows;
    cursor: pointer;
}

.card-detalles-libro img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgba(209, 213, 219, 0.3);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    cursor: pointer;
}

.card-content-detalles-libro {
    padding: 20px;
    width: 10em;
}

.card-content-detalles-libro h3 {
    margin-top: 0;
    text-decoration: none;
    cursor: pointer;
    color: white;
}

/* .card-content h3:link,
.card-content h3:visited {
    color: white; */

.card-detalles:hover {
    transform: scale(0.9);
    transition-duration: 0.8s;
    background-color: #efb7103c;
}

.card-detalles:not(:hover) {
    transform-origin: 0;
    transition: 0.8s;
}

#añadir-detalles-libro {
    width: 6em;
    height: 6em;
    border-radius: 50px;
    margin: 78em;
    margin-top: 28em;
    background-image: url(imagenes/anadir.png);
    background-size: cover;
    cursor: pointer;
    color: transparent;
}

#añadir-detalles-libro:hover {
    transform: scale(0.9);
    transition-duration: 1.2s;
}

#añadir-detalles-libro:not(:hover) {
    transform-origin: 0;
    transition: 1s;
}

/*detalles autores */
.body-detalle-autores {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: url(../imagenes/detalles.png) center;
    background-size: cover;
    overflow: hidden;
}

/* Detalle autor */
#izquierda {
    width: 32%;
    height: auto;
    background: rgba(129, 129, 129, 0.3);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    /* display: flex; */
    margin-top: 2em;
    margin-left: 2em;
    position: absolute;
    flex-direction: column;
}

#imagen img {
    width: 50%;
    height: auto;
    border-radius: 50px;
    /* display: flex; */
    padding: 2em;
}

#datos {
    color: white;
    font-size: 1.4em;
    padding: 1em;
    margin-top: -3em;
}

#derecha {
    width: 58em;
    height: 26em;
    display: flex;
    margin-top: 2em;
    position: absolute;
    margin-left: 32em;
}

#biografía {
    display: flex;
    width: 58em;
    height: 10em;
    position: absolute;
    overflow-y: auto;
    background: rgba(129, 129, 129, 0.3);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

#biografía p {
    text-align: justify;
    font-size: large;
    font-style: italic;
    color: white;
    margin-top: 1em;
    margin-bottom: 15.5em;
    margin-left: 2em;
    margin-right: 2em;
}

#scroll-lateral-detalles {
    display: flex;
    width: 52em;
    height: 25em;
    position: absolute;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 10.5em;
    border-radius: 20px;
    mask-image: linear-gradient(to right, #000 calc(100% - 2em), rgba(0, 0, 0, 0));
}

.card-detalles {
    width: 10.5em;
    height: fit-content;
    background: rgba(129, 129, 129, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
    border: 1.5px solid #efb810;
    border-radius: 20px;
    margin-left: 0;
    margin-right: 10px;
    flex-direction: rows;
    cursor: pointer;
}

.card-detalles img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgba(209, 213, 219, 0.3);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    cursor: pointer;
}

.card-content-detalles {
    padding: 20px;
    width: 10em;
}

.card-content-detalles h3 {
    margin-top: 0;
    text-decoration: none;
    cursor: pointer;
    color: white;
}

/* .card-content h3:link,
.card-content h3:visited {
    color: white; */

.card-detalles:hover {
    transform: scale(0.9);
    transition-duration: 0.8s;
    background-color: #efb7103c;
}

.card-detalles:not(:hover) {
    transform-origin: 0;
    transition: 0.8s;
}

#añadir-detalles {
    width: 6em;
    height: 6em;
    border-radius: 50px;
    margin: 78em;
    margin-top: 29em;
    background-image: url(imagenes/anadir.png);
    background-size: cover;
    cursor: pointer;
    color: transparent;
}

#añadir-detalles:hover {
    transform: scale(0.9);
    transition-duration: 1.2s;
}

#añadir-detalles:not(:hover) {
    transform-origin: 0;
    transition: 1s;
}
